header:hover {
    animation: headerHoverEffect 1s forwards;
}

@keyframes headerHoverEffect {
    from {
        background-color: #9d7e36;
    }
    to {
        background-color: #5c491b;
    }
}


header {
    background-color: #5c491b;
    color: white;
    padding: 17px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('logo-putih.png');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 120px;
}

.header-container {
    display: flex;
    align-items: center; 
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-container nav {
    margin-left: 30px;
}

.header-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1500px;
    margin: 0px auto;
    padding: 0 20px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative; 
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #e2b952;
}

nav ul .submenu {
    display: none;
    position: absolute;
    background-color: #594104;
    top: 100%;
    left: 0;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

nav ul .submenu li a {
    padding: 10px;
    display: block;
    color: white;
}

nav ul .submenu.show {
    display: block;
}

nav ul li:hover .submenu {
    display: block;
}