* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.centered-image {
    display: block;
    margin: 0 auto;
  }


.text-container {
    text-align: justify;
}
  

.video-container {
    width: 25%; 
    max-width: 300px;
}

.video-container video {
    width: 100%;
    height: auto;
    display: block;
}

header {
    background-color: #99BC85;
    color: #fff;
    padding: 20px;
    text-align: center;
    background-image: url('HDLogo.png'); 
    background-repeat: no-repeat;
    background-position: left 25px bottom 13px;
    background-size: 120px;
}

header h1 {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #45a049; 
}


nav ul {
    list-style-type: none;
    font-size: 17px;
}

nav ul li {
    display: inline-block; 
    position: relative; 
    margin-right: 23px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 10%; 
}

nav ul li a:hover {
    background-color: #fff; 
    color: #000000;
}

#beranda .section-content {
    text-align: justify;
    max-width: 800px; 
    margin: 7 auto; 
    line-height: 1.6; 
}

#beranda h2 {
    font-size: 24px;
    margin-bottom: 15px; 
}

#beranda p {
    font-size: 18px; 
    margin-bottom: 20px; 
}


.submenu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0; 
    background-color: #c2e7ad;
    padding: 3px; 
    border-radius: 10px; 
    min-width: 170px; 
}

.centered-image {
    display: block;
    margin: 30px auto; 
    max-width: 90%; 
    height: auto; 
}
   
.section-content {
    text-align: center; 
}

.submenu li {
    display: block;
    padding: 5px 0; 
}

.submenu li a {
    color: #000000;
    font-size: 17px; 
    padding: 1px 0px; 
    text-decoration: none;
    text-align: center;
    display: block; 
    margin-bottom: 1px; 
}

.submenu li:hover {
    background-color: #f0f0f0; 
    transition: background-color 0.3s ease; 
}

li:hover .submenu {
    display: block;
}

section {
    padding: 50px;
}

section h2 {
    margin-bottom: 20px;
}

footer {
    background-color: #99BC85;
    color: #fff;
    text-align: center;
    padding: 20px;
}