body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #be8f19;
    height: 100vh;
    margin-top: 80px;
}

.container {
    background-color: #fff;
    width: 30%;
    padding: 20px;
    margin: auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.judul {
    text-align: center;
    margin-top: -1px;
}

.container div {
    margin-bottom: 15px;
}

input[type="tanggal"],
input[type="imam"],
input[type="khotib"],
input[type="muadzin"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #e2b952;
}

input[type="tanggal"]:focus,
input[type="imam"]:focus,
input[type="khotib"]:focus,
input[type="muadzin"]:focus {
    outline: #ffffff;
}

input::placeholder {
    color: #928a8a;
}

.simpan-button {
    width: 20%;
    padding: 9px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 40%;
    text-align: center;
    border-radius: 50px;
    background-color: #e2b952;
}

.simpan-button:hover {
    background-color: #584134;
}


