* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url(1789.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.teks{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    text-align: center;
    margin-top: 80px;
    filter: drop-shadow(1px 1px 10px #000);
}

.imam, .muadzin, .KU, .Sek, .Ben, .SSP, .SPK, .SHD, .SKK {
    font-size: 18px;
    color: #000;
    filter: drop-shadow(1px 1px 20px #000);
}

.imam, .muadzin, .KU{
    text-align: center;
    margin-top: 50px;
    border: 1px solid #99BC85;
    border-color: #99BC85;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.Sek {
    position: relative;
    left: 400px;
    display: inline-block;
    margin-top: 50px;
    border: 1px solid #99BC85;
    border-color: #99BC85;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 10px;
}

.Ben {
    position: relative;
    left: 700px;
    display: inline-block;
    margin-top: 60px;
    border: 1px solid #99BC85;
    border-color: #99BC85;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 10px;
}

.SSP {
    position: relative;
    left: 60px;
    margin-top: 60px;
    border: 1px solid #99BC85;
    border-color: #99BC85;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 10px;
    width: fit-content;
}

.SPK {
    position: relative;
    left: 367px;
    margin-top: -33px;
    border: 1px solid #99BC85;
    border-color: #99BC85;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 10px;
    width: fit-content;

}

.SHD {
    position: relative;
    left: 720px;
    margin-top: -33px;
    border: 1px solid #99BC85;
    border-color: #99BC85;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 10px;
    width: fit-content;
}

.SKK {
    position: relative;
    left: 980px;
    margin-top: -33px;
    border: 1px solid #99BC85;
    border-color: #99BC85;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 10px;
    width: fit-content;
}

/* Styling footer */
/*footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}*/
/*
.footer-wave {
    position: absolute;
    top: 0;
    width: 200%;
    height: 100%;
}*/
