<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MASIGI: Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="/public/temp2/css/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/app/Views/auth/Admin/dashboard1.html">
                <div class="sidebar-brand-icon">
                    <img src="/public/img/logo-putih-shadow.png" alt="logo" id="logo"/>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/app/Views/auth/Admin/dashboard1.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                TAKMIR MASJID
            </div>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/app/Views/auth/Admin/registrasi.html">
                    <i class="fa-solid fa-user-plus"></i>                    
                    <span>Registrasi Takmir</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/app/Views/auth/Admin/dataTakmir.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span> Data Takmir Masjid</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Muhammad Fikri Batara</span>
                                <img class="img-profile rounded-circle"
                                    src="/public/temp1/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800"></h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Data Takmir Masjid</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                          <tr>
                                            <th>Username</th>
                                            <th>Nama Takmir</th>
                                            <th>Peran Takmir</th>
                                            <th>No. HP</th>
                                            <th>Alamat</th>
                                            <th>Email</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>Msyad</td>
                                            <td>Muslimin Syaid</td>
                                            <td>Imam</td>
                                            <td>081241580649</td>
                                            <td>Jl. Melati, No. 23</td>
                                            <td>msyad@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Elrah</td>
                                            <td>Eldin Rahadian</td>
                                            <td>Muadzin</td>
                                            <td>085343736445</td>
                                            <td>Jl. Dahlia Indah, No. 7</td>
                                            <td>elrah@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Chesa</td>
                                            <td>Chepy S. Affandy</td>
                                            <td>Ketua Umum</td>
                                            <td>085345738334</td>
                                            <td>Jl. Seroja, No. 10</td>
                                            <td>chesa@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Ragus</td>
                                            <td>Agus Rustandi</td>
                                            <td>Sekretaris</td>
                                            <td>085213778902</td>
                                            <td>Jl. Kenanga, No. 32</td>
                                            <td>ragus@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Rizard</td>
                                            <td>Ardian Baitariza</td>
                                            <td>Bendahara</td>
                                            <td>081676889435</td>
                                            <td>Jl. Flamboyan, No. 45</td>
                                            <td>rizard@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Asiws</td>
                                            <td>Aris Siswanto</td>
                                            <td>Seksi Sarana &amp; Prasarana</td>
                                            <td>081248756985</td>
                                            <td>Jl. Kamboja, No. 18</td>
                                            <td>asiws@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Wahags</td>
                                            <td>Agus Wahidin</td>
                                            <td>Seksi Sarana &amp; Prasarana</td>
                                            <td>081554789332</td>
                                            <td>Jl. Srikaya, No. 5</td>
                                            <td>wahags@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Jangnam</td>
                                            <td>Ujang Suryanam</td>
                                            <td>Seksi Pendidikan &amp; Kerohanian</td>
                                            <td>087336458965</td>
                                            <td>Jl. Anggrek Biru, No. 29</td>
                                            <td>jangnam@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Dan</td>
                                            <td>Dadang Suprianta</td>
                                            <td>Seksi Pendidikan &amp; Kerohanian</td>
                                            <td>087565423548</td>
                                            <td>Jl. Cempaka Putih, No. 12</td>
                                            <td>dan@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Dinps</td>
                                            <td>Endin Supriyana</td>
                                            <td>Seksi Humas dan Dana</td>
                                            <td>081548789321</td>
                                            <td>Jl. Mawar Merah, No. 21</td>
                                            <td>dinps@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Asob</td>
                                            <td>Achmad Sobari</td>
                                            <td>Seksi Humas dan Dana</td>
                                            <td>081753445789</td>
                                            <td>Jl. Teratai, No. 14</td>
                                            <td>asob@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Yatr</td>
                                            <td>Yayat Ruhiyat</td>
                                            <td>Seksi Kebersihan dan Keamanan</td>
                                            <td>089125897643</td>
                                            <td>Jl. Jambu Mawar, No. 8</td>
                                            <td>yatr@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Karrrtka</td>
                                            <td>Ika Kartika</td>
                                            <td>Seksi Kebersihan dan Keamanan</td>
                                            <td>089112564852</td>
                                            <td>Jl. Kenanga Biru, No. 33</td>
                                            <td>karrrtka@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Ttinsmr</td>
                                            <td>Titin Sumartini</td>
                                            <td>Seksi Kebersihan dan Keamanan</td>
                                            <td>082779813549</td>
                                            <td>Jl. Kamboja Hijau, No. 19</td>
                                            <td>ttinsmr@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Yadis</td>
                                            <td>Suharyadi</td>
                                            <td>Seksi Kebersihan dan Keamanan</td>
                                            <td>085369741789</td>
                                            <td>Jl. Srikaya Merah, No. 26</td>
                                            <td>yadis@email.com</td>
                                          </tr>
                                          <tr>
                                            <td>Awcha</td>
                                            <td>Awal Cahyadi</td>
                                            <td>Seksi Kebersihan dan Keamanan</td>
                                            <td>081951753123</td>
                                            <td>Jl. Melati Putih, No. 11</td>
                                            <td>awcha@email.com</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                      <span>Copyright &copy; MASIGI 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</body>

    <script src="/public/temp1/vendor/jquery/jquery.min.js"></script>
    <script src="/public/temp1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/temp1/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/public/temp1/js/sb-admin-2.min.js"></script>
    <script src="/public/temp1/vendor/chart.js/Chart.min.js"></script>
    <script src="/public/temp1/js/demo/chart-area-demo.js"></script>
    <script src="/public/temp1/js/demo/chart-pie-demo.js"></script>



</html>