<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="qurban.css">
    <title>PROJEK AKHIR WEB</title>
</head>
<body>
    <div class="judul">
        <h1>MUDAHKAN IBADAH QURBAN ANDA DENGAN KAMI</h1>
    </div>

    <section class="tipe-kambing">
    <h2 class="kambing">KAMBING</h2>
        <div class="KA">
            <h3>TIPE A</h3>
            <h4>Harga Kambing</h4>
            <span>Rp4.000.000</span>
            <h4> Berat Qurban</h4>
            <span>25-35kg</span>
            <div class="Spesifikasi">
                <h4>Spesifikasi Hewan Qurban</h4>
                <li>Penyembelihan dijadwalkan oleh pengurus masjid.</li>
                <li>Hewan qurban yang dibeli merupakan hewan yang layak untuk diqurbankan sesuai syariat islam.</li>
            </div>
            <div class="pop">
                <a href="#popup" class="btn">Pesan</a>
            </div>
        </div>

        <div class="KB">
            <h3>TIPE B</h3>
            <h4>Harga Kambing</h4>
            <span>Rp3.500.000</span>
            <h4> Berat Qurban</h4>
            <span>20-30kg</span>
            <div class="Spesifikasi">
                <h4>Spesifikasi Hewan Qurban</h4>
                <li>Penyembelihan dijadwalkan oleh pengurus masjid.</li>
                <li>Hewan qurban yang dibeli merupakan hewan yang layak untuk diqurbankan sesuai syariat islam.</li>
            </div>
            <div class="pop">
                <a href="#popup" class="btn">Pesan</a>
            </div>
        </div>

        <div class="KC">
            <h3>TIPE C</h3>
            <h4>Harga Kambing</h4>
            <span>Rp2.700.000</span>
            <h4>Berat Qurban</h4>
            <span>15-25kg</span>
            <div class="Spesifikasi">
                <h4>Spesifikasi Hewan Qurban</h4>
                <li>Penyembelihan dijadwalkan oleh pengurus masjid.</li>
                <li>Hewan qurban yang dibeli merupakan hewan yang layak untuk diqurbankan sesuai syariat islam.</li>
            </div>
            <div class="pop">
                <a href="#popup" class="btn">Pesan</a>
            </div>
        </div>
    </section>

    <section class="tipe-sapi">
    <h2 class="sapi">SAPI</h2>
        <div class="SA">
            <h3>TIPE A</h3>
            <h4>Harga Sapi</h4>
            <span>Rp28.000.000</span>
            <h4>Berat Qurban</h4>
            <span>265-270kg</span>
            <div class="Spek">
                <h4>Spesifikasi Hewan Qurban</h4>
                <li>Harga Rp4.000.000 perorang.</li>
                <li>Bobot sapi perorang yaitu 38kg.</li>
                <li>Penyembelihan dijadwalkan oleh pengurus masjid.</li>
                <li>Hewan qurban yang dibeli merupakan hewan yang layak untuk diqurbankan sesuai syariat islam.</li>
            </div>
            <div class="pop">
                <a href="#popup" class="btn">Pesan</a>
            </div>
        </div>

        <div class="SB">
            <h3>TIPE B</h3>
            <h4>Harga Sapi</h4>
            <span>Rp24.500.000</span>
            <h4>Berat Qurban</h4>
            <span>220-230kg</span>
            <div class="Spek">
                <h4>Spesifikasi Hewan Qurban</h4>
                <li>Harga Rp3.500.000 perorang.</li>
                <li>Bobot sapi perorang yaitu 32kg.</li>
                <li>Penyembelihan dijadwalkan oleh pengurus masjid.</li>
                <li>Hewan qurban yang dibeli merupakan hewan yang layak untuk diqurbankan sesuai syariat islam.</li>
            </div>
            <div class="pop">
                <a href="#popup" class="btn">Pesan</a>
            </div>
        </div>

        <div class="SC">
            <h3>TIPE C</h3>
            <h4>Harga Sapi</h4>
            <span>Rp18.900.000</span>
            <h4>Berat Qurban</h4>
            <span>180-190kg</span>
            <div class="Spek">
                <h4>Spesifikasi Hewan Qurban</h4>
                <li>Harga Rp2.900.000 perorang.</li>
                <li>Bobot sapi perorang yaitu 26kg.</li>
                <li>Penyembelihan dijadwalkan oleh pengurus masjid.</li>
                <li>Hewan qurban yang dibeli merupakan hewan yang layak untuk diqurbankan sesuai syariat islam.</li>
            </div>
            <div class="pop">
                <a href="#popup" class="btn">Pesan</a>
            </div>
        </div>
    </section>

    <section class="popup-container" id="popup">
        <div class="popup-content">
            <div class="judul-pendaftaran">
                <a href="#" class="popup-close">&times;</a>
                <h2>PENDAFTARAN QURBAN:</h2>
            </div>

            <div class="nama-peserta">
                <label for="nama-peserta"><h4>Nama Peserta:</h4></label>
                <input type="nama-peserta" id="nama-peserta" placeholder="Masukkan Nama">
            </div>

            <div class="jenis-qurban">
                <label for="jenis-qurban"><h4>Jenis Qurban:</h4></label>
                <select name="jenis" id="jenis-qurban">
                    <option value="" disabled selected>Pilih Jenis Qurban</option>
                    <option value="perorang">Perorang</option>
                    <option value="perkelompok">Perkelompok</option>
                </select>

                <div class="NoTlp">
                    <label for="Tlp"><h4>No Telepon:</h4></label>
                    <input type="tel" nama="tlp" id="tlp" placeholder="Masukkan Nomor Telepon">
                </div>
            </div>
            <div class="popup-class-btn">
                <a href="#" class="popup-btn">Bayar</a>
            </div>
        </div>
    </section>

    <section class="pendaftaran-qurban">
        <div class="pendaftar">
            <h2>Pendaftar Qurban</h2>
        </div>

        <div class="tabel">
            <table>
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Jenis Qurban</th>
                        <th>Nomor Telepon</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Meliana</td>
                        <td>Perorangan</td>
                        <td>085241698465</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Andini Ramadhana</td>
                        <td>Perorangan</td>
                        <td>089476849253</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Lidia</td>
                        <td>Perkelompok</td>
                        <td>085794697852</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
