body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #e2b952;*/
}

/*.custom-shape-divider-top-1717226660 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: scaleX(-1);
    margin-top: 51.5rem;
}

.custom-shape-divider-top-1717226660 svg {
    position: relative;
    display: block;
    width: calc(163% + 1.3px);
    height: 146px;
}

.custom-shape-divider-top-1717226660 .shape-fill {
    fill: #e2b952;
}*/

.tipe-kambing, .sec {
    border: none;
    background-color: #e2b952;
}

.kambing {
    /*display: flex;*/
    font-weight: bold;
    align-items: center;
    /*justify-content: center;*/
    margin-top: -3rem;
    /*padding-top: 1rem;*/
    /*margin-bottom: -3rem;*/
    position: absolute;
}

.tipe-kambing {
    display: flex;
    justify-content: space-around;
    padding: 70px;
    margin-bottom: -4rem;
}

.KA, .KB, .KC {
    font-size: 14px;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    border: none;
    padding: 15px;
    margin: 19px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    background-color: #fff;
}

.KA h3, .KB h3, .KC h3 {
    text-align: center;
    margin-bottom: 30px;
}

.KA h4, .KA span {
    margin-bottom: 2px;
}

.KB h4, .KB span {
    margin-bottom: 2px;
}

.KC h4, .KC span {
    margin-bottom: 2px;
}

.Spesifikasi h4 {
    margin-bottom: 4px;
}

.Spesifikasi li {
    margin-top: 5px;
}

.sapi {
    font-weight: bold;
    align-items: center;
    margin-top: -3rem;
    position: absolute;
}

.sec {
    display: flex;
    justify-content: space-around;
    padding: 70px;
}

.SA, .SB, .SC {
    font-size: 14px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    margin: 19px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.SA h3, .SB h3, .SC h3 {
    text-align: center;
    margin-bottom: 30px;
}

.SA h4, .SA span {
    margin-bottom: 2px;
}

.SB h4, .SB span {
    margin-bottom: 2px;
}

.SC h4, .SC span {
    margin-bottom: 2px;
}

.Spek h4 {
    margin-bottom: 4px;
}

.Spek li {
    margin-top: 5px;
}

.qurban {
    /*display: flex;*/
    font-weight: bold;
    align-items: center;
    /*justify-content: center;*/
    margin-top: -3rem;
    /*padding-top: 1rem;*/
    /*margin-bottom: -3rem;*/
    position: absolute;
}


.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #e2b952;
    margin-top: 200px;
}

.container div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="nama-peserta"],
input[type="tel"],
input[type="Alamat"],
select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
}

input[type="nama-peserta"]:focus,
input[type="tel"]:focus,
input[type="Alamat"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

input::placeholder,
select {
    color: #aaa;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #000;
}

select:disabled {
    color: #aaa;
}

.nama-peserta, .jenis-qurban, .Alamat {
    margin-bottom: 20px;
}

.Alamat {
    margin-top: 18px;
}

.nama-peserta label,
.jenis-qurban label,
.Alamat label,
.NoTlp label {
    margin-bottom: -1rem;
    /*margin-top: 2px;*/
}

.Alamat,
.NoTlp {
    display: none;
}

#jenis-qurban:valid ~ .Alamat,
#jenis-qurban:valid ~ .NoTlp {
    display: block;
}

.container button {
    width: 15%;
    padding: 10px;
    background-color: #584134;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;

}

.container button:hover {
    background-color: #218838;
}
