 <!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="TakmirUmum.css">
    <title>PROJEK AKHIR WEB</title>
</head>
<body>
    <img src="struktur.png">
    <!-- <div class="struktur">
    	<ul>
    		<li>Penasehat</li>
            <ul>
                <li>Ketua
                    <ul>
                        <li>Sekretaris</li>
                        <li>Bendahara</li>
                        <li>Seksi Peribadatan</li>
                        <li>Seksi Sarana dan Prasarana</li>
                        <li>Seksi Pendidikan dan Kerohanian</li>
                        <li>Seksi Humas dan Dana</li>
                        <li>Seksi Kebersihan dan Keamanan</li>
                    </ul>
                </li>
            </ul>
    	</ul>
    </div> -->
</body>
</html>
