<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="register.css">
    <title>REGISTRASI TAKMIR</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-3">
                                    <div class="text-center">
                                        <img src="logo-hitam.png" alt="Logo hitam" class="bg-login-image">
                                        <h1 class="h4 text-gray-900 mb-3">Registrasi Akun Takmir</h1>
                                    </div>
                                    <form class="user" action ="registrasi.php" method="post">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="inputFullName" name="nama_lengkap" placeholder="Nama Lengkap">
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-user" id="inputUsersUsername" aria-describedby="usernameHelp" name="nama_pengguna" placeholder="Nama Pengguna">
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="form-control form-control-user" name="jabatan" id="inputJabatan">
                                                    <option value="" disabled selected="pilih-jabatan">Pilih Jabatan</option>
                                                    <option value="option1">Option 1</option>
                                                    <option value="option2">Option 2</option>
                                                    <option value="option3">Option 3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <select class="form-control form-control-user" name="jenis_kelamin" id="inputJenisKelamin">
                                                    <option value="" disabled selected>Pilih Jenis Kelamin</option>
                                                    <option value="Laki-laki">Laki-laki</option>
                                                    <option value="Perempuan">Perempuan</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="date" class="form-control form-control-user" id="inputTanggalLahir" name="tanggal_lahir" placeholder="Tanggal Lahir">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="inputTempatLahir" name="tempat_lahir" placeholder="Tempat Lahir">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" id="inputEmail" name="email" placeholder="Email">
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-user" id="inputAlamat" name="alamat" placeholder="Alamat">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user" id="inputNomorTelepon" name="no_telepon" placeholder="Nomor Telepon">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="inputPassword" name="password" placeholder="Password">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Registrasi Akun</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>
