<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="donasi.css">
    <title>PROJEK AKHIR WEB</title>
</head>
<body>
    <div class="judul">
        <h1>Penerima Donasi</h1>
    </div>
    <section class="container">
        <div class="input-nama">
            <label for="nama"><h4>Nama:</h4></label>
            <input type="nama" id="nama" placeholder="Masukkan Nama">
        </div>

        <div class="input-noKK">
            <label for="noKK"><h4>Nomor Kartu Keluarga:</h4></label>
            <input type="noKK" id="noKK" placeholder="Masukkan Nomor KK">
        </div>

        <div class="input-noHP">
            <label for="noHP"><h4>Nomor HP:</h4></label>
            <input type="noHP" id="noHP" placeholder="Masukkan Nomor HP">
        </div>

        <div class="input-alamat">
            <label for="alamat"><h4>Alamat:</h4></label>
            <input type="alamat" id="alamat" placeholder="Masukkan Alamat">
        </div>

        <button type="submit" class="simpan-button">Simpan</button>
    </section>
    <script src="/app/Views/auth/Beranda/layout3.JS"></script>
</body>
</html>
